@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 600px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background: url("https://c4.wallpaperflare.com/wallpaper/375/986/399/despicable-me-movies-cgi-minions-wallpaper-preview.jpg") no-repeat center center/cover;
    font-family: Bungee Shade;
    color: wheat;
    height: 100vh;
}
header,footer{
    height: 100%;
    width: 100%;
    text-decoration: underline;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: wheat;
    padding: 5px 10px;
}
p{
    background: black;
    color: whitesmoke;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding: 8px;
    margin: 20px;
}
.hero{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.92;
    padding: 0 20px;
}
.hero .container{
    margin: auto;
    padding: 20px;
    width: 100%;
    background: rgb(58, 71, 146);
    border: none;
    border-radius: 1.5px;
}
.hero .container>*{
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 15px;
    min-height: 35px;
    background: wheat;
    border: none;
    border-radius: 1.5px;
    font-weight: 700; 
}#output{
    min-height:130px;
    color: black;
}
#translator{
    cursor: pointer;
    display: inline-block;
    border: 2px solid black;
}
#translator:hover{
    transform: scale(0.99);
    background: rgb(241, 238, 232);
}
footer a:hover{
    background-color: black;
    border-radius: 5px;
}
@media screen and (max-width:400px) {
    body{
        height: 100vh;
    }
    .hero{
        height:max-content;
    }
}
